.btn {
  font-family: 'Montserrat';
}

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 4px 12px;
  }
}

.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover, .btn.hover {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn-orange:hover {
  color: #fff;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-orange {
  color: #fff;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn-150 {
  width: 150px;
}

.btn-clear:hover {
  color: #282d32;
  background-color: transparent;
  border-color: transparent;
}

.btn-clear {
  color: #282d32;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

