.footer-clean {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(240, 240, 240);
  padding-top: 6px;
  color: #000;
  box-shadow: -0.5px -0.5px 5px #999;
}

.footer-dropdown {
  margin-top: 0;
  color: #000;
  margin-bottom: 0;
  font-weight: bold;
}

@media (min-width: 576px) {
  .footer-dropdown {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .footer-dropdown {
    font-size: smaller;
  }
}

.footer-clean .item.social > a {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  color: #000;
  opacity: 0.9;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top: 5px;
  }
}

.footer-clean .copyright {
  font-size: 13px;
  opacity: 0.6;
}

.footer-clean-link:hover {
  text-decoration: none;
  color: #999;
  opacity: 0.9;
}

.footer-clean-link {
  color: #000;
}

.footer-clean .btn-link:hover, .footer-clea btn-link:focus {
  color: #000;
  text-decoration: none;
}

