.filter-title {
  border-bottom: 1px solid #469d73;
  color: #469d73;
  font-weight: bold;
  padding: 0 0 0.2em;
  margin: 8px 0;
  display: block;
}

.price-slider-ui {
  position: relative;
  width: 100%;
  display: block;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #e5664a;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.price-slider-ui p {
  margin-top: 15px;
}

.multi-check-select {
  max-width: 500px;
  margin: auto;
  max-height: 101px;
  overflow-y: scroll;
  padding: 0 2%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.3px solid rgba(240, 240, 240, 0.8);
}

.multi-check-select .form-check:hover {
  background-color: rgba(182,182,182,0.5);
}

.multi-check-select label {
  margin: 0 0 0 8px;
}

.pub-box {
  max-width: 1000px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  top: 32px;
  padding: 0 5% 0;
  margin: 0 auto 50px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 6px 30px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 30px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 30px rgba(0,0,0,0.2);
}

.pub-tabs .nav-tabs .nav-link {
  color: initial;
  background-color: #cccccc;
  border-color: transparent;
  width: 80%;
  margin: auto;
  padding: 4px 16px;
  font-size: 110%;
  box-shadow: 1px 1px 1px #777;
}

.pub-tabs .nav-tabs .nav-item.show .nav-link, .pub-tabs .nav-tabs .nav-link.active {
  color: initial;
  background-color: #e56a33;
  border-color: transparent;
  box-shadow: 1px 1px 1px #777;
}

.overlay-image {
  position: relative;
  width: 100%;
  padding: 5% 0;
}

.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-image .text {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.project-category {
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .project-category {
    background: rgba(175,175,175,0.6);
  }
}

@media (min-width: 1200px) {
  .overlay-image .hover {
    position: absolute;
    top: 5%;
    height: 90%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
}

@media (min-width: 1200px) {
  .overlay-image:hover .hover {
    opacity: 1;
    background: rgba(175,175,175,0.6);
  }
}

@media (max-width: 991px) {
  .side-filter {
    padding: 16px 12px 8px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .side-filter {
    padding: 110px 40px 0;
  }
}

@media (min-width: 1200px) {
  .side-filter {
    padding: 65px 40px 0;
  }
}

.map-div {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

