@media (min-width:992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
}

#mainNav {
  border-bottom: 1px solid rgba(33,37,41,.1);
  background-color: rgb(230, 230, 230);
  transition: all .2s;
}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top {
  top: 0;
}

@media (min-width:992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.navbar, .navbar > .container, .navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  /*position: relative;*/
  padding: .5rem 1rem;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #495057;
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-toggler:focus, .navbar-toggler:hover {
  outline: none;
  box-shadow: none;
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #495057;
  opacity: 0.8;
  outline: none;
  cursor: pointer;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #212529;
  outline: none;
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: .5rem 1rem;
  }
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

@media (min-width: 1200px) {
  .navbar-logo {
    width: 90px;
  }
}

@media (max-width:1199px) {
  .navbar-logo {
    width: 60px;
  }
}

@media (max-width:1199px) {
  #mainNav {
    padding-top: 0.80%;
    padding-bottom: 0.80%;
  }
}

@media (min-width:1200px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#mainNav .dropdown-item {
  color: #fff;
}

#mainNav .dropdown-item:focus, #mainNav .dropdown-item:hover {
  color: #fff;
  background-color: #000;
}

#mainNav.dropdown-item.active, #mainNav.dropdown-item:active {
  background-color: transparent;
}

#mainNav .dropdown-menu {
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

