.bg-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -2;
}

body, .form-control {
  font-family: 'Montserrat';
}

@media (max-width: 767px) {
  body, .form-control {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .h6, h6 {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .h6, h6 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .h5, h5 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .h5, h5 {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .h4, h4 {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .h4, h4 {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .h3, h3 {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .h3, h3 {
    font-size: 30px;
  }
}

@media (max-width:767px) {
  .h2, h2 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .h2, h2 {
    font-size: 34px;
  }
}

@media (max-width:767px) {
  .h1, h1 {
    font-size: 37px;
  }
}

@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 42px;
  }
}

.near-white {
  background-color: rgba(255, 255, 255, 0.8);
}

.form-control:hover, .form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.lg {
  font-size: 110%;
}

a {
  transition: all .2s;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.table td, .table th {
  vertical-align: middle;
}

.link_URL:hover, .link_URL:focus {
  color: #469d73;
  outline: none;
  text-decoration: none;
  box-shadow: none;
  opacity: 0.8;
}

.link_URL.bold {
  font-weight: bold;
}

.link_URL {
  color: #469d73;
}

header.masthead {
  box-shadow: 4px 4px 4px #999;
}

@media (min-width:992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width:991px) {
  header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
  }
}

header.masthead {
  background-position: 50%;
  background-size: cover;
}

.mb-100 {
  margin-bottom: 100px;
}

